<!--页尾-->
<div class="footer">
    <div class="w1200">
        <ul class="footer_nav">
            <li><a href="{{ url_for('project.main.summary') }}">关于我们</a></li>
            <li><a href="{{ url_for('project.main.alumni_inter') }}">校友专访</a></li>
            <li><a href="http://www.swust.edu.cn/">母校环境</a></li>
            <li><a href="{{ url_for('project.main.alumni_inter') }}">专题演讲</a></li>
            <li><a href="{{ url_for('project.main.new_alumni') }}">学院动态</a></li>
            <li><a href="{{ url_for('project.main.new_alumni') }}">新闻中心</a></li>
        </ul>
        <p style="margin-top: 17px;">联系信箱：xyh@swust.edu.cn 地址：成都市青羊区太升北路9号弗达斯酒店8楼。 邮编：610031</p>
        <ul class="about_nav" style="padding-top: 17px;">
            <li><a href="http://www.swust.edu.cn/">西南科技大学 </a> |</li>
            <li><a href="http://www.kjy.swust.edu.cn/">国家大学科技园 </a> |</li>
            <li><a href="http://job.swust.edu.cn/">西南科大就业网 </a> |</li>
            <li><a href="http://www.dsb.swust.edu.cn/">西南科技大学合作发展处 </a> |</li>
            <li><a href="http://xyh.swust.edu.cn/portal.php">校友总会 </a></li>
        </ul>
        <p style="margin-top:17px;padding-bottom: 35px;">西南科技大学成都校友会土建分会版权所有 All rights reserved&nbsp;&nbsp;技术支持:<a
                href="http://www.uniyes.com" class="index_ylys">四川友联亿思科技</a></p>
    </div>
</div>