{% extends "admin/base.html" %}
{% block page_name %}
    <div class="am-topbar-brand">
        <strong>后台管理</strong>
        <small>校友目录</small>
    </div>
{% endblock page_name %}
{% block scripts %}
    {{ super() }}
{% endblock scripts %}
{% block content %}

    <!-- content start -->
    <div class="admin-content">
        <div class="admin-content-body">
            <div class="am-cf am-padding am-padding-bottom-0">
                <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">名单编辑</strong> /
                    <small>edit</small>
                </div>
            </div>

            <hr>

            <div class="am-g form_ag">
                {% for field in form.errors %}
                    {% for error in form.errors[field] %}
                        <li style="width: 350px;margin: 0 auto;color: #f00;" class="alert mt10 alert-success">
                            {{ error }}
                        </li>
                    {% endfor %}
                {% endfor %}
                <form method="post" enctype=multipart/form-data style="" class="contact_add">
                    {{ form.hidden_tag() }}
                    <p style="width: 360px;">
                        {{ form.name.label }}{{ form.name(style=" width: 270px;height: 40px;margin-left: 0px;") }}
                    </p>
                    <p style="width: 360px;">
                        {{ form.sex.label }}{{ form.sex(style="display:flex;margin-top:-50px;margin-left: 25px;width: 270px;height: 40px;") }}
                    </p>
                    <p style="width: 360px;">
                        {{ form.status.label }}{{ form.status(placeholder="本部学院土木04级",style="width: 270px;height: 40px;") }}
                    </p>
                    <p style="width: 360px;">
                        {{ form.grade.label }}{{ form.grade(style="width: 270px;height: 40px;") }}
                    </p>
                    <p style="width: 360px;">
                        {{ form.birthday.label(style="margin-left: -33px;") }}
                        {{ form.birthday(style="margin-left: 51px;margin-top:-30px;width: 270px;height: 40px;",class="am-form-field",placeholder="日期选择",readonly='true',required='true',**{'data-am-datepicker':'true'}) }}
                    </p>
                    <p style="width: 360px;">
                        {{ form.contact.label(style="margin-left: -17px;") }}{{ form.contact(style="width: 270px;height: 40px;") }}
                    </p>
                    <p style="width: 360px;">
                        {{ form.phone.label }}{{ form.phone(style="width: 270px;height: 40px;") }}
                    </p>
                    <p style="width: 360px;">
                        {{ form.email.label }}{{ form.email(style="width: 270px;height: 40px;") }}
                    </p>
                    <p>
                        {{ form.submit() }}
                    </p>
                </form>
            </div>
        </div>

    </div>
    <style>
        .contact_add input {  height: auto;  }
    </style>
    <!-- content end -->
{% endblock content %}