{% extends "base.html" %}
{% block title %}西科大成都校友会土建分会{% endblock %}
<meta name="keywords" content="西南科技大学,成都校友会,土建分会" />
{% block style %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}" type="text/css"/>
{% endblock %}
{% block content %}
    <!--活动专栏-->
    <div class="w1200"><p class="nav_p"><a href="{{ url_for('project.main.index') }}">首页</a> > <a href="javascript:viod(0)">活动专栏</a> > <a
            href="javascript:viod(0)">活动报名</a></p></div>
    <div class="w1200 clear mt10">
        <div class="w176 fl">
            <div class="nav_new">
                <div style="background-position: -381px -15px;"></div>
                <p>活动专栏</p>
            </div>
            <ul>
                <li class="on"><a href="javascript:viod(0)">活动报名</a></li>
                <li><a href="{{ url_for('project.main.activity_review') }}">活动回顾</a></li>
            </ul>
        </div>
        <!--活动报名-->
        <div class="w1001 fr">
            <p class="w1001_p">活动报名</p>
            {% for activ_list in activ_releaslist %}

                    {% if current_time < activ_list.duration  %}
                        <div class="clear" style="border-bottom: none;">
                            <img src="{{ url_for("static",filename='upload/' + activ_list.activPic) }}"/>
                            <div class="activity_apply" id="activity_apply">
                                <p class="activity_apply_a"><a
                                        href="{{ url_for('project.main.activity_apply_details',id=activ_list.id) }}">{{ activ_list.title }}</a>
                                    <span class="fr ">计划人数:<span class="use">{{ activ_list.people }}</span>人</span>
                                    <span class="fr ">报名人数:<span class="use">{{ activ_list.users.count() }}</span>人</span></p>
                                <p>活动时间：{{ activ_list.startime }}至{{ activ_list.duration }}</p>
                                <p>报名截止时间：{{ activ_list.deadline }}</p>
                                <p>活动费用：{{ activ_list.cost }}元</p>
                                <p>集合地点：{{ activ_list.location }}</p>
                                {{ activ_list.introduce|safe|truncate(150, True) }}

                                {% if current_user.is_authenticated %}
                                    {#                 onclick="chj()"         onclick="this.value='已参加'"#}
                                    {% if current_user not in activ_list.users.all() %}
                                        {% if current_time < activ_list.deadline %}
                                            {% if activ_list.users.count() >= activ_list.people  %}
                                                <input class="vis" id="vis"  type="button" value="人数已满"
                                                       data-use="{{ activ_list.id }}" data-user-id="{{ current_user.id }}" style="background-color: #b9342f;border: medium
                                                       none;color: #fff;cursor: pointer;display: block;float: right;height:
                                                       33px;margin-right: 35px;margin-top: 30px;text-align: center;width: 98px" />
                                            {% else %}
                                                <input class="vis" id="vis"  type="button" value="我要报名"
                                                       data-use="{{ activ_list.id }}" data-user-id="{{ current_user.id }}" style="background-color: #b9342f;border: medium
                                                       none;color: #fff;cursor: pointer;display: block;float: right;height:
                                                       33px;margin-right: 35px;margin-top: 30px;text-align: center;width: 98px" />
                                            {% endif %}
                                        {% else %}
                                            <input class="vis" id="vis"  type="button" value="报名已截止"
                                                       data-use="{{ activ_list.id }}" data-user-id="{{ current_user.id }}" style="background-color: #b9342f;border: medium
                                                       none;color: #fff;cursor: pointer;display: block;float: right;height:
                                                       33px;margin-right: 35px;margin-top: 30px;text-align: center;width: 98px" />
                                        {% endif %}
                                    {% else %}
                                        <input class="vis" id="vis"  type="button" value="报名成功"
                                               data-use="{{ activ_list.id }}" data-user-id="{{ current_user.id }}" style="background-color: #333;border: medium
                                               none;color: #fff;cursor: pointer;display: block;float: right;height:
                                               33px;margin-top: 30px;text-align: center;width: 98px" />
                                    {% endif %}
                                {% else %}
                                    <a href="{{ url_for('project.main.index_enter') }}"><input type="button" value="我要报名" style="background-color: #b9342f;border:none;color: #fff;margin-right: 35px;cursor: pointer;display: block;float: right;height:33px;margin-top: 24px;text-align: center;width: 98px"/></a>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}

            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for("static", filename="js/jquery.min.js") }}"></script>
    <script type="text/javascript" src="{{ url_for("static", filename="js/index.js") }}"></script>
    {{ moment.include_moment() }}
    <script>
        window.onload = function () {
            util.nav(5);


            $('.activity_apply').on('click', '.vis', function () {
                var $this = $(this);
                var attr = $(this).attr('data-use');
{#                alert($this.val());#}
                if ($this.val() == '我要报名') {
                    $.ajax({
                        url: "/api/part",
                        type: 'post',
                        data: {'data-use': attr},
                        success: function (data) {

                            if (data == '1') {
                                {#                            alert('success')#}
                                $this.val('报名成功').css("background", "#333");
                            } else {
{#                                alert('fail')#}
                                $this.val('我要报名').css("background","#fff")
                            }

                        }
                    })
                }
            })
        };

    </script>
{% endblock %}

