{% extends "base.html" %}
{% block title %}企业名单{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}" type="text/css"/>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for("static", filename="js/index.js") }}"></script>
    <script>
        window.onload = function () {
            util.nav(1)
        }
    </script>
{% endblock %}
{% block content %}
    <div class="w1200"><p class="nav_p"><a href="index.html">首页</a> > <a href="new_alumni.html">企业名录</a></p></div>
		<div class="w1200 clear mt10">
			<div class="w176 fl">
				<div class="nav_new">
					<div></div>
					<p>企业名录</p>
				</div>
				<ul>
					<li class="on"><a href="#">企业名单</a></li>
				</ul>
			</div>
			<div class="w1001 fr">
				<p class="w1001_p">企业名单</p>
                <div class="am-g">
                <div class="am-u-sm-12" style="width: 100%;height: 100%;">
                {% if enterprise %}
                    <form style="font-weight: 200;">
                        <table cellSpacing=0 borderColor=#ddd border="1px solid blue;" style="margin: 97px auto;">
                            <thead>
                            <tr style="width: 100%;">
{#                                <th style="width: 200px;">系别</th>#}
{#                                <th class="table-type" style="width: 150px;">用户名</th>#}
                                <th style="width: 150px;">联系人</th>
                                <th style="width: 350px;">企业名称</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for enterprise in enterprise %}
                                <tr>
{#                                    <th>{{ user.username }}</th>#}
                                    <th>{{ enterprise.contact }}</th>
                                    <th>{{ enterprise.CoporateName }}</th>
{#                                    <th>{{ user.money }}</th>#}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </form>
                {% else %}
                    <h3 style="margin: 50px auto;">暂无企业入驻！</h3>
                {% endif %}
                </div>

            </div>
            </div>

			</div>
		</div>
    <style>
        th {text-align: center;  padding: 10px;}
    </style>
{% endblock %}