{% extends "base.html" %}
{% block title %}西科大成都校友会土建分会{% endblock %}
<meta name="keywords" content="西南科技大学,成都校友会,土建分会"/>
{% block style %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}" type="text/css"/>
{% endblock %}

{% block content %}
    <!--照片视频-->
    <div class="w1200"><p class="nav_p"><a href="{{ url_for('project.main.index') }}">首页</a> > <a href="">照片视频</a></p>
    </div>
    <div class="w1200 clear mt10">
        <div class="w176 fl">
            <div class="nav_new">
                <div style="background-position:-411px -12px;"></div>
                <p>照片视频</p>
            </div>
            <ul id="column_">
                <li  class="on"><a href="javascript:;">照片专栏</a></li>
                <li><a href="{{ url_for('project.main.multimedia_video') }}">视频专栏</a></li>
            </ul>
        </div>
        <!--照片视频>视频专栏-->
{#        <div class="w1001 fr" id="video_column">#}
{#            <p class="w1001_p">视频专栏</p>#}
{#            <div class="w843 clear" style="margin-top: 20px;border: none;margin-bottom: 80px;">#}
{#                {% for activ in activs %}#}
{#                    {% if activ.vedio %}#}
{#                        <div class="video-b" style="float: left; margin-left:40px;margin-top: 50px;">#}
{#                            <div class="video-a">#}
{#                                <div class="mask" style="display: none"></div>#}
{#                                <div class="mask1" style="display: none"></div>#}
{#                                <img src="{{ url_for('static',filename='images/video_img4.jpg') }}"/>#}
{#                            </div>#}
{#                            <p>#}
{#                                <a href="{{ url_for('project.main.video_gather',activ_id=activ.id) }}">{{ activ.vedio[0].title }}</a><span>视频共{{ activ.vedio|length }}份</span>#}
{#                            </p>#}
{#                        </div>#}
{#                    {% endif %}#}
{#                {% endfor %}#}
{#            </div>#}
{#        </div>#}
        <!--照片视频>照片专栏-->
        <div class="w1001 fr" id="picture_column" >
            <p class="w1001_p">照片专栏</p>
            <div class="w875 clear" style="margin-top: 40px;margin-bottom: 30px;">
                {% for activ in activs %}
                    {% if activ.photo %}
                        <div>
                            <div>
                                <a href="{{ url_for('project.main.picture_gather',activ_id=activ.id) }}"><img src="{{ url_for('static',filename='images/flip_book.jpg') }}" style="width:100%;transition: 1s;"/></a>
                            </div>
                            <p style="text-align: center;margin-top: 25px;">
                                <a href="{{ url_for('project.main.picture_gather',activ_id=activ.id) }}">{{ activ.photo[0].title }}</a><span
                                    style="font-size:12px;color:#999;padding-left: 20px;">图册共{{ activ.photo|length }}张</span>
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{{ url_for("static", filename="js/index.js") }}"></script>
    <script>
        window.onload = function () {
            util.nav(6)


            var column = document.getElementById('column_');
            var column_li = column.getElementsByTagName('li');
            var video_column = document.getElementById('video_column');
            var picture_column = document.getElementById('picture_column');
            column_li[0].onclick = function () {
                video_column.style.display = 'none';
                picture_column.style.display = 'block';
                column_li[1].style.backgroundColor = '#fff';
                column_li[0].style.backgroundColor = '#f8eaea';
            }
            column_li[1].onclick = function () {
                video_column.style.display = 'block';
                picture_column.style.display = 'none';
                column_li[1].style.backgroundColor = '#f8eaea';
                column_li[0].style.backgroundColor = '#fff';
            }

            var vid = document.getElementById('video_column');
            var video = vid.getElementsByTagName('video');
            var num = 0;
            for (var i = 0; i < video.length; i++) {
                video[i].onclick = function () {
                    num++;
                    if (num % 2 != 0) {
                        this.play();
                    }
                    else {
                        this.pause();
                    }

                }
            }

        }
        $(function () {
            $('.video-b').on('mouseenter', '.video-a', function () {
                $(this).find('.mask').show();
                $(this).find('.mask1').show();
            });
            $('.video-b').on('mouseleave', '.video-a', function () {
                $(this).find('.mask').hide();
                $(this).find('.mask1').hide();
            })
        });
    </script>
{% endblock %}

