{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}" type="text/css"/>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{{ url_for("static", filename="js/index.js") }}"></script>
    <script>
        window.onload = function () {
            util.nav(1)
        }
    </script>
{% endblock %}
{% block content %}
    {% include "base/_banner.html" %}
	<!--组织机构-->
		<div class="w1200"><p class="nav_p"><a href="index.html">首页</a> > <a href="">组织机构</a> > <a href="#">校友会章程</a></p></div>
		<div class="w1200 clear mt10">
			<div class="w176 fl">
				<div class="nav_new">
					<div style="background-position: -45px -15px;"></div>
					<p>组织机构</p>
				</div>
				<ul>
					<li class="on"><a href="#">校友会章程</a></li>
					<li><a href="#">校友会介绍</a></li>
					<li><a href="#">校友信息录入</a></li>
					<li><a href="#">会长致辞</a></li>
				</ul>
			</div>
			<!--校友会章程-->
			<div class="w1001 fr">
				<p class="w1001_p">校友会章程</p>
				<div class="clear organization_rule" style="border: none;">
					<h3>西南科技大学成都校友会土建分会章程</h3>
					<h5>第一章  总  则</h5>
					<p>第一条 名称：西南科技大学成都校友会土建分会。</p>
					<p>第二条 性质：西南科技大学成都校友会土建分会是由在成都市行政区域工作的历届西南科技大学土木工程与建筑学院毕业生发起,其他地区土建学院毕业校友参与,经西南科技大学校友总会和西南科技大学成都校友会同意，并接受其管理和监督的成都行政区域土建学院历届毕业生的校友联谊组织。</p>
					<p>第三条 宗旨：通过校友分会的活动，沟通校友与母校、校友相互之间、学校与社会之间的联系，发扬母校优良传统，促进母校及所在地区的改革与发展，建立交流互助平台，促进共同发展。本会遵守宪法、法律、法规和国家政策，遵守社会道德风尚。</p>
					<p>第四条 本会精神：服务、融合、凝聚、发展。</p>
					<p>第五条 本会议事和执行机构为理事会，会员大会由理事会召集。本会理事会常设办公地址：成都市青羊区太升北路9号弗达斯酒店8楼。</p>
					
					<h5>第二章  业务范围</h5>
					<p>第六条 本会的主要任务是：</p>
					<p> （一）发挥土木工程与建筑学院成都校友的智力优势和广泛影响，宣传母校的发展变化和校友业绩，交流人才和科技需求信息，为母校的改革与发展献计献策，贡献力量；</p>
					<p> （二）沟通校友与母校、校友相互之间、学校与社会之间的联系。</p>
					<p> （三）提供咨询服务，协助学校与校友及校友所在企业、地区开展科研和人才培养合作，反映校友及用人单位对学校办学的意见和建议；</p>
					<p> （四）推广科技成果，推广西南科技大学的先进科技成果，促进科技成果转化，为校友所在单位和地区的经济建设服务，提高学校和校友在社会上的声誉；</p>
					<p> （五）接受校友、社会团体和有识之士的各项捐赠，促进有关项目的共同开发；</p>
					<p> （六）参加学校校友会组织的研究会、研讨会；</p>
					<p> （七）协助学校做好招生、毕业生就业及跟踪调查工作；</p>
					<p> （八）为校友服务；</p>
					<p> （九）印发《校友通讯》及相关资料； </p>
					<p> （十）完成学校、校友总会和校友委托的其它工作。</p>
					<p>第七条 本会的活动原则：</p>
					<p> （一）	本会按照批准的章程开展活动，不超越章程规定的业务范围；</p>
					<p> （二）	本会开展活动时，诚实守信，公正公平，不弄虚作假，不损害国家、会员和个人利益；</p>
					<p> （三）	本会遵循“自主办会“原则，努力做到工作自主、人员自聘、经费自筹。</p>
					
					<h5>第三章  会  员</h5>
					<p>本会会员种类为个人会员；</p>
					<p>第八条 凡符合下列条件之一的成都地区人士均可申请成为本会会员：</p>
					<p> （一）曾就读于西南科技大学土木工程与建筑学院及其前身院校的各种层次的各类学生；</p>
					<p> （二）曾在西南科技大学土木工程与建筑学院及其前身院校工作过的教职工；</p>
					<p> （三）西南科技大学土木工程与建筑学院聘请的聘任院士、名誉教授、双聘教授、兼职教授及其他兼职人员等。</p>
					<p>第九条 申请加入本会会员，必须具备下列条件：   </p>
					<p>（一）承认并拥护本会章程；</p>
					<p>（二）自愿申请加入本会。</p>
					<p>第十条 会员入会的程序是：</p>
					<p> （一）提交《校友登记表》；</p>
					<p> （二）经理事会审查批准。</p>
					<p> 第十一条 会员享有下列权利：</p>
					<p> （一）本会的选举权、被选举权和表决权；</p>
					<p> （二）可获得本会的优先服务权；</p>
					<p>（三）有权共享本会的校友通讯信息； </p>
					<p> （四）阅取本会或学校校友会发送的有关信息资料和学术刊物等；</p>
					<p> （五）对本会的批评、建议和监督权，参加关于学校建设、发展和校友联谊工作等问题的讨论；</p>
					<p> （六）在本会及母校主办的刊物上投稿；</p>
					<p> （七）参加本会组织的各种活动；</p>
					<p>（八）入会自愿，退会自由。</p>
					<p>第十二条 会员履行下列义务：</p>
					<p>（一）遵守本会章程，维护本会合法权益和声誉；</p>
					<p>（二）关心校友会的工作，维护本会的合法权益，积极为本会和校友服务；</p>
					<p>（三）执行本会决议，支持和参加本会组织的各项活动，接受本会委托的任务，向本会反映情况，报送提供有关资料，提供相应帮助；</p>
					<p>（四）爱护母校声誉，关心母校发展，积极参与母校国内外学术交流与合作；</p>
					<p>（五）每年主动按期缴纳会费300元；</p>
					<p>（六）向本会《校友通讯》及相关资料投送文稿；</p>
					<p>（七）协助本会筹集资金，支持相关活动；</p>
					<p>（八）为母校的发展提供力所能及的支持和赞助。</p>
					<p>第十三条 西南科技大学成都校友会土建分会，作为西南科技大学校友会的分支机构，本会吸纳的会员即学校校友会会员。</p>
					<p>第十四条 会员如有严重违背本章程或有损本会名誉的行为，经本会理事会表决通过，取消或暂停会员资格。如连续两年不交纳基本会费，也不参加活动者，即视为自动退会。会员如对理事会取消或暂停会员资格的决定不服，可提出申诉，由理事会做出答复，必要时提交会员大会审议。</p>
					
					<h5>第四章  组织机构和负责人产生、罢免</h5>
					<p>第十五条 本会的最高权力机构是会员代表大会，其职权是：</p>
					<p>（一）制定、修改本会章程； </p>
					<p>（二）选举产生本会理事会成员，选举和罢免会长、执行会长、副会长、秘书长、理事长和本会组成机构人员；</p>
					<p> （三）审议本会理事会工作报告和财务报告；</p>
					<p>（四）讨论并决定本会的重大事宜；</p>
					<p>（五）决定本会终止事宜。</p>
					<p>第十六条 会员大会须有三分之二以上的会员出席方能召开。会员大会的决议须经到会代表半数以上通过方能生效。</p>
					<p> 第十七条 会员大会每届任期四年，换届延期最长不超过一年。会员大会每年召开一次，由理事会召集，因特殊情况需提前或延期换届的，须由理事会表决通过。</p>
					 
					<h5>第五章 经费及管理</h5>
					 
					<h5>第六章 终止程序及终止后的财产处理</h5>
					
					<h5>第七章 附 则</h5>
					
					<p>查看<a href="#">《西南科技大学成都校友会土建分会章程》</a>完整版</p>
					
				</div>
				<div class="w860">
					<ul>
					  	<li style="margin-right: 10px;"><a href="#">首页</a></li>
					  	<li><a href="#">1</a></li>
					  	<li class="on"><a href="#">2</a></li>
					  	<li><a href="#">3</a></li>
					  	<li><a href="#">···</a></li>
					  	<li style="margin-left: 10px;"><a href="#">尾页</a></li>
				  </ul>
				</div>
			</div>
		</div>
		<!--页尾-->
		 <div class="footer">
		 	<div class="w1200">
		 		<ul class="footer_nav">
		 			<li><a href="#">关于我们</a></li>
		 			<li><a href="#">校友专访</a></li>
		 			<li><a href="#">母校环境</a></li>
		 			<li><a href="#">专题演讲</a></li>
		 			<li><a href="#">学院动态</a></li>
		 			<li><a href="#">新闻中心</a></li>
		 		</ul>
		 		<p style="margin-top: 17px;">联系信箱：xyh@swust.edu.cn  地址：成都市青羊区太升北路9号弗达斯酒店8楼。 邮编：610031</p>
		 		<ul class="about_nav" style="padding-top: 17px;">
		 			<li><a href="http://www.swust.edu.cn/">西南科技大学 </a> |</li>
		 			<li><a href="http://www.kjy.swust.edu.cn/">国家大学科技园 </a> |</li>
		 			<li><a href="http://job.swust.edu.cn/">西南科大就业网 </a> |</li>
		 			<li><a href="http://www.dsb.swust.edu.cn/">西南科技大学合作发展处 </a> |</li>
		 			<li><a href="http://xyh.swust.edu.cn/portal.php">校友总会 </a></li>
		 		</ul>
		 		<p style="margin-top:17px;padding-bottom: 35px;">西南科技大学成都校友会土建分会版权所有 All rights reserved&nbsp;&nbsp;技术支持:<a href="http://www.uniyes.com" class="index_ylys">四川友联亿思科技</a></p>
		 	</div> 
		 </div>
{% endblock %}
